.input-n-button{
    padding: 10px;
    height:3rem;
    width: 100%;
    border: 1px solid rgba(128,128,128,0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    /* background: transparent; */
}

.background{
    background-color: #d7e3ff;
}

.modal-box{
    background-color: rgba(0, 0, 0, 0.3);
    width: 25rem;
    height: 27rem;
    padding: 2rem;

    border-radius: 1rem;
}

input{
    background: transparent;
}